<h1>Rotten Mangoes</h1>

<%= form_tag(root_path, method: "get") do %>
  <%= label_tag(:search_movies, "Keyword: ") %>
  <%= text_field_tag(:search_movies) %>
  <%= select_tag(:search_duration, 
    "<option></option>
      <option>Under 90 minutes</option>
      <option>Between 90 and 120 minutes</option>
      <option>Over 120 minutes</option>".html_safe) %>
  <%= submit_tag("Search") %>
<% end %>



<hr>
<%= link_to "Submit a movie", new_movie_path %>
<hr>
<% @movies.each do |movie| %>
  <%= render partial: "movie", locals: { movie: movie } %>
<% end %>
