<%= link_to "Back to all movies", movies_path %><br/>

<%= image_tag(@movie.poster_image_url_url(:thumb).to_s) %>
<%= image_tag(@movie.poster_image_url) %>

<p><%= @movie.title %> (<%= link_to "edit", edit_movie_path(@movie) %>, <%= link_to "delete", movie_path(@movie), method: :delete, data: {confirm: "You sure?"} %>)</p>
<p><%= formatted_date(@movie.release_date) %></p>
<p><%= @movie.director %> | <%= @movie.runtime_in_minutes %></p>
<p><%= @movie.description %></p>
<p>average: <%= @movie.reviews.size > 0 ? @movie.review_average : "-" %>/10</p>

<hr>

<p>Reviews of <em><%= @movie.title %></em></p>
<% if current_user %>
  <% @movie.reviews.each do |review| %>
    <p><%= review.text %></p>
    <p><%= review.rating_out_of_ten %>/10</p>

    
    <small>- <%= review.user.full_name %></small><br/>
  <% end %>
    <p><%= link_to "Write a review!", new_movie_review_path(@movie) %></p>
<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to see reviews and add your own.</p>
<% end %>