<%= link_to "Home", root_path %>
<!--  (<%= link_to "edit", edit_admin_user_path(@user) %>) -->
<h3>Full name: <%= @user.full_name %></h3>
<p>Email: <%= @user.email %></p>
<p>Date joined: <%= formatted_date(@user.created_at) %></p>

<hr>

<h4>Reviews by user</h4>

<% @reviews.each do |review| %>
  <p>movie: <%= review.movie.title %></p>
  <p>rating: <%= review.rating_out_of_ten %>/10</p>
  <p>review: <%= review.text %></p>
  <hr>
<% end %>
