<% if @user.id.nil? %>
  <% custom_url = admin_users_path %>
<% else %>
  <% custom_url = edit_admin_user_path(@user) %>
<% end %>
<%= form_for @user, url: custom_url do |f| %>
<div>
  <%= f.label :firstname %>
  <%= f.text_field :firstname %>
</div>
<div>
  <%= f.label :lastname %>
  <%= f.text_field :lastname %>
</div>
<div>
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>
<div>
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>
<div>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
</div>
<div>
  <%= f.label :is_admin %>
  <%= f.check_box :is_admin %>
</div>
<div>
  <%= f.submit "Create User" %>
</div>
<% end %>